{% extends 'store/base.html' %}
{% block title %}Байланыс{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="fw-bold mb-4">📞 Бізбен байланысыңыз</h2>
    <p>Төмендегі ақпарат арқылы бізбен байланыса аласыз:</p>

    <ul class="list-group">
        <li class="list-group-item">📧 Email: support@supermarket.kz</li>
        <li class="list-group-item">📞 Телефон: +7 (777) 123-4567</li>
        <li class="list-group-item">📍 Мекенжай: Алматы қ., Негізгі көшесі, 123</li>
    </ul>
</div>
{% endblock %}
